<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<test name="Test">
		<classes>
			<class name="com.test.SimpleGetTest" />
			<class name="com.test.SimpleGetTest1" />
			<class name="com.WhetherTestcase" />
			<class name="com.WhetherTestCase1" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
